node_modules/
pkg-temp/
*.log
npm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm/
.pnpm-store/
.eslintcache
.rollup.cache/
packages/*/dist/
packages/*/lib/
.env.local
.env.*.local
