@font-face {
  font-family: HYWenHei-85W;
  src: local("HYWenHei-85W"),
       url(/assets/fonts/HYWenHei-85W.ttf) format('truetype');
}

@font-face {
  font-family: HYWenHei-75W;
  src: local("HYWenHei-75W"),
       url(/assets/fonts/HYWenHei-75W.ttf) format('truetype');
}

@font-face {
  font-family: HYWenHei-65W;
  src: local("HYWenHei-65W"),
       url(/assets/fonts/HYWenHei-65W.ttf) format('truetype');
}

@font-face {
  font-family: HYWenHei-55W;
  src: local("HYWenHei-55W"),
       url(/assets/fonts/HYWenHei-55W.ttf) format('truetype');
}

@font-face {
  font-family: HYWenHei-45W;
  src: local("HYWenHei-45W"),
       url(/assets/fonts/HYWenHei-45W.ttf) format('truetype');
}

@font-face {
  font-family: HYWenHei-35W;
  src: local("HYWenHei-35W"),
       url(/assets/fonts/HYWenHei-35W.ttf) format('truetype');
}
