header {
  top: 0;
  width: 100%;
  background-color: var(--color-background);
  z-index: 90;

  &.sticky {
    position: fixed;
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
  }

  &.box-shadow-none {
    box-shadow: none;
  }

  @media print {
    display: none !important;
  }

  label,
  input {
    vertical-align: middle;
  }

  label:first-child {
    display: inline-block;
    margin-right: 6px;
    min-width: 2em;
    text-align: right;
  }

  .UnderlineNav {
    margin: 0 -8px;
    padding: 0 8px;
    overflow: visible;
  }

  .UnderlineNav-item {
    font-size: 16px;
  }

  nav form {
    display: inline-block;
  }

  .autocomplete-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .autocomplete-results {
      display: none;
    }

    &:focus-within .autocomplete-results:not(:empty) {
      display: block;
      z-index: 90;
    }

    .autocomplete-item {
      position: relative;
    }

    .autocomplete-item > small {
      float: right;
      margin-top: 1px;
      margin-left: 8px;
      font-size: 12px;
      font-weight: 300;
      color: var(--color-fg-muted);
    }

    .autocomplete-item > ul {
      position: absolute;
      display: none;
      top: 1px;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 0;
      list-style: none;
      background-color: var(--color-accent-emphasis);
      box-shadow: 0 0 8px var(--color-accent-emphasis);

      > li {
        display: inline-block;
      }
    }

    .autocomplete-item:hover > ul,
    .autocomplete-item:active > ul {
      display: block;
    }

    .btn-octicon {
      margin: 0;
      color: #fff !important;

      &:hover {
        color: #ddd !important;
      }
    }

    .btn-octicon-danger:hover {
      color: #ffc3bd !important;
    }
  }

  .btn-submit {
    position: relative;
    margin: 0 16px 0 4px;

    &:disabled {
      color: transparent;
    }

    &:disabled::after {
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 8px);
      display: block;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 2px solid #fff;
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      animation: rotate-keyframes .5s infinite linear;
    }
  }

  form ~ label {
    margin-left: 16px;
  }

  input[type=checkbox] {
    margin-top: -1px;
    margin-right: 2px;
  }

  .github-link {
    margin-left: 28px;

    @media (max-width: 820px) {
      display: none;
    }

    .octicons {
      width: 18px;
      height: 18px;
      vertical-align: middle;

      &:hover {
        filter: brightness(2);
      }

      path {
        fill: var(--color-fg-default);
      }
    }
  }
}
