.group-sort-config {
  margin-top: 7px;
  padding-bottom: 8px;

  .grouping,
  .sorting {
    display: inline-block;
  }

  label {
    margin: 0 6px 0 30px;
  }

  .grouping > label {
    margin-left: 0;
  }

  .btn-sort {
    height: 32px;
    line-height: 32px;
    padding: 0 4px;
    margin-left: 4px;

    &:disabled {
      cursor: not-allowed;
    }
  }

  @media (max-width: 796px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .grouping {
      order: 1;
    }

    .switch-show-not-owned {
      order: 2;
    }

    .sorting {
      order: 3;
      flex-basis: 100%;
      margin-top: 6px;

      > label {
        margin-left: 0;
      }
    }
  }
}

.sort-config-list > .btn {
  height: 32px;
  font-weight: normal;
  padding: 0 6px;

  @media (max-width: 394px) {
    padding: 0 4px;
  }

  &::after {
    color: var(--color-text-secondary);
    display: inline-block;
    margin-left: 1px;
    margin-right: -2px;
    vertical-align: middle;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1) color;

    @media (max-width: 370px) {
      margin-left: 0;
      margin-right: -3px;
    }

    @media (prefers-color-scheme: light) {
      @at-root [data-color-mode=auto] & {
        opacity: 0.75;
      }
    }

    @at-root [data-color-mode=light] & {
      opacity: 0.75;
    }
  }

  &[data-sort=desc]::after {
    transform: translateY(-1px);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled:after {
    color: var(--color-text-disabled);
  }
}

.btn-sort::before,
.sort-config-list > .btn::after {
  font-family: octicons;
  font-size: 16px;
}

.btn-sort[data-sort="asc"]::before,
.sort-config-list > .btn[data-sort="asc"]::after {
  content: "\1F869";
}

.btn-sort[data-sort="desc"]::before,
.sort-config-list > .btn[data-sort="desc"]::after {
  content: "\1F86B";
}
